In [2]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey
gkey

'AIzaSyBL8ahyFy8MhoDCjB1wwwb0m3i2cVBBulE'

In [3]:
#Read LA county lat and long csv file
house_p_df = pd.read_csv("res_la_house_price.csv")
#house_p_df.head()
#house_p_df.rename(columns={"CountyName":"county"})
house_p_df.head()
#new_county=[]
#for row in house_p_df:
  #  print(row["CountyName"])
    #new_county.append(row)

,RegionID,RegionName,State,Metro,CountyName,2018-05
0,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
1,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,633200
2,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,927000
3,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,279200
4,40227,Palmdale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,309700

In [4]:
house_p_df.count()

RegionID      113
RegionName    113
State         113
Metro         113
CountyName    113
2018-05       113
dtype: int64

In [5]:
#Read LA county lat and long csv file
la_long_df = pd.read_csv("zip_codes_states_LA_COUNTY.csv")
la_long_df.head()

   zip_code   latitude   longitude   RegionName State   CountyName
0     90001  33.973951 -118.248405  Los Angeles    CA  Los Angeles
1     90002  33.950514 -118.245855  Los Angeles    CA  Los Angeles
2     90003  33.949164 -118.273156  Los Angeles    CA  Los Angeles
3     90004  33.786594 -118.298662  Los Angeles    CA  Los Angeles
4     90005  33.786594 -118.298662  Los Angeles    CA  Los Angeles

In [7]:
# Merge our two data frames together
combined_data = pd.merge(la_long_df,house_p_df, how="right",on="RegionName")
combined_data.head()

,zip_code,latitude,longitude,RegionName,State_x,CountyName_x,RegionID,State_y,Metro,CountyName_y,2018-05
0,90001.0,33.973951,-118.248405,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
1,90002.0,33.950514,-118.245855,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
2,90003.0,33.949164,-118.273156,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
3,90004.0,33.786594,-118.298662,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
4,90005.0,33.786594,-118.298662,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700

In [9]:
combined_data.count()

zip_code        408
latitude        406
longitude       406
RegionName      436
State_x         408
CountyName_x    408
RegionID        436
State_y         436
Metro           436
CountyName_y    436
2018-05         436
dtype: int64

In [8]:
# Remove the rows with missing values in zip_code
combined_data = combined_data.dropna()
combined_data.head()

,zip_code,latitude,longitude,RegionName,State_x,CountyName_x,RegionID,State_y,Metro,CountyName_y,2018-05
0,90001.0,33.973951,-118.248405,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
1,90002.0,33.950514,-118.245855,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
2,90003.0,33.949164,-118.273156,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
3,90004.0,33.786594,-118.298662,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
4,90005.0,33.786594,-118.298662,Los Angeles,CA,Los Angeles,12447,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700

In [9]:
combined_data.count()

zip_code        406
latitude        406
longitude       406
RegionName      406
State_x         406
CountyName_x    406
RegionID        406
State_y         406
Metro           406
CountyName_y    406
2018-05         406
dtype: int64

In [10]:
combined_data.dtypes

zip_code        float64
latitude        float64
longitude       float64
RegionName       object
State_x          object
CountyName_x     object
RegionID          int64
State_y          object
Metro            object
CountyName_y     object
2018-05           int64
dtype: object

In [ ]:
for row in combined_data: