In [24]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey
gkey

'AIzaSyBL8ahyFy8MhoDCjB1wwwb0m3i2cVBBulE'

In [25]:
#Read LA county lat and long csv file
house_p_df = pd.read_csv("res_la_house_price.csv")
#house_p_df.head()
#house_p_df.rename(columns={"CountyName":"county"})
house_p_df.head()
#new_county=[]
#for row in house_p_df:
  #  print(row["CountyName"])
    #new_county.append(row)

,RegionID,RegionName,State,Metro,CountyName,2018-05
0,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700
1,46298,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,633200
2,45457,Glendale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,927000
3,5534,Lancaster,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,279200
4,40227,Palmdale,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,309700

In [27]:


#Read LA county lat and long csv file
la_long_df = pd.read_csv("zip_codes_states_LA_COUNTY.csv")
la_long_df.head()

   zip_code   latitude   longitude         city State   CountyName
0     90001  33.973951 -118.248405  Los Angeles    CA  Los Angeles
1     90002  33.950514 -118.245855  Los Angeles    CA  Los Angeles
2     90003  33.949164 -118.273156  Los Angeles    CA  Los Angeles
3     90004  33.786594 -118.298662  Los Angeles    CA  Los Angeles
4     90005  33.786594 -118.298662  Los Angeles    CA  Los Angeles

In [28]:
# Merge our two data frames together
combined_data = pd.merge(house_p_df, la_long_df, on="CountyName")
combined_data.head()

,RegionID,RegionName,State_x,Metro,CountyName,2018-05,zip_code,latitude,longitude,city,State_y
0,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700,90001,33.973951,-118.248405,Los Angeles,CA
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700,90002,33.950514,-118.245855,Los Angeles,CA
2,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700,90003,33.949164,-118.273156,Los Angeles,CA
3,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700,90004,33.786594,-118.298662,Los Angeles,CA
4,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,714700,90005,33.786594,-118.298662,Los Angeles,CA